/* 公共样式*/
#detBtn {
    height:40px;
    width:150px;
    background:#ff9000;
    color:#fff;
    text-align: center;
    line-height:40px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
}
#detBtn .shdow{
    width:80%;
    height:50%;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    background:#ff900000;
    position: absolute;
    box-shadow: 0px 5px 10px 0px #ff900070;
    
}
#detBtn:hover .shdow{
    box-shadow: 0px 10px 10px 0px #ff900070;
}
body{
    background:#f4f4f4;
}




 /* banner------------------------- */
 #banner{
    
 }
 #banner  .banner-box{
    height:460px;
    
    overflow: hidden;
    position: relative;
 }
 #banner  .banner-box .banner-img{
    height:460px;
    width:1200px;
    position: absolute;
    display: flex;
}
#banner  .banner-box .banner-img li{ 
    height:460px;
    width:1200px;
    flex-shrink: 0;
    position:relative;
    overflow: hidden;
}
#banner .banner-box .banner-img li a{
    display:block;
}
#banner  .banner-box .banner-img li img{
    width:1200px;
    /* height:460px; */
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}
#banner  .banner-box .swiper{
    position:absolute;
    width:90px;
    height:8px;
    bottom:27px;
    left:50%;
    transform: translateX(-50%);
}
#banner  .banner-box .swiper li{
    width:8px;
    height:8px;
    border-radius:50%;
    border:1px #fff solid;
    box-sizing: border-box;
    float:left;
    margin: 0px 5px;
}
#banner  .banner-box .swiper li a{
    display:block;
    height:6px;
}
#banner  .banner-box .swiper  .active{
    background:#fff;
    transform:scale(1.33);
     
}
#banner  .banner-box #banner-btn-left,#banner-btn-right{
    display:block;
    width:40px;
    height:40px;
    font-size:20px;
    line-height:40px;
    color:#999;
    position: absolute;
    top:calc(50% - 20px);
    border-radius:50%;
    box-sizing: border-box;
}
#banner  .banner-box #banner-btn-left{
    left:250px;
    padding-left:10px;
}
#banner  .banner-box #banner-btn-right{
    right:20px;
    padding-left:13px;
}
#banner  .banner-box #banner-btn-right:hover{
    background:#ffffff80;
    color:#fff;
}
#banner  .banner-box #banner-btn-left:hover{
    background:#ffffff80;
    color:#fff;
}
#banner .banner-box .product-menu{
    height:100%;
    
    position: absolute;
    left:0px;
    top:0px;
    background:#00000080;
    padding-top:10px;
    box-sizing: border-box;
}
#banner .banner-box .product-menu li .p-show{
    position: absolute;
    width:970px;
    height:460px;
    top:0px;
    left: 230px;
    background:#fff;
    
}

#banner .banner-box .product-menu li .p-show ul{
    display: flex;
    flex-direction: column;
    
    height: 460px;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
}

#banner .banner-box .product-menu li .p-show ul li{
    height:100px;
    width:300px;
    background:#fff;
    box-shadow: 0px 0px 2px 0px #e5e5e5;
    flex-shrink: 0;
    display: flex;
    
    padding:5px;
    margin: 7.5px 10px;
    box-sizing: border-box;
}

#banner .banner-box .product-menu li .p-show ul li img{
    height:90px;
    width:90px;
    background:#fff;
    flex-shrink: 0;
}
#banner .banner-box .product-menu li .p-show ul a{
    display: block;
    color:#000;
    line-height: 20px;
}

#banner .banner-box .product-menu li .p-show ul li div{
    display: flex;
    flex-direction: column;
    padding:0px 20px;
}

#banner .banner-box .product-menu li .p-show ul li p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
}

#banner .banner-box .product-menu li .p-show ul li span{
   color:#ff6000;
   line-height: 30px;
}


#banner .banner-box .product-menu li{
    width:230px;
    height:40px;
    padding-left:30px;
    padding-right:20px;
    box-sizing:border-box;
    position: relative;
}
#banner .banner-box .product-menu li a{
    display: block;
    font-size:14px;
    color:#fff;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#banner .banner-box .product-menu li:hover{
    background:#fa744f;
}
#banner .banner-box .product-menu .active{
    background:#fa744f;    
}
#banner .banner-box .product-menu{
    
}
#banner .banner-box .product-menu{
    
}

/* 买家推荐 */
#recommend{

}

#recommend .content{
    padding-bottom: 50px;
}
#recommend .content .content-left{
    width:50%;
    
}
#recommend .content .content-left h3{ 
    margin-top:50px;
    font-size:14px;
    font-weight: 200;
}
#recommend .content .content-left h2{
    font-size:24px;
}
#recommend .content .content-left ul{
    padding:50px 40px;

}
#recommend .content .content-left ul li{
   
}
#recommend .content .content-left ul li a{
    display: block;
    font-size:14px;
    color:#999;
    height:30px;
    line-height: 30px;
    text-align: left;
    position: relative;
}
#recommend .content .content-left ul li .active{
    font-weight: 800;
    color:#333;
}
#recommend .content .content-left ul  li .active:after{
    content: "";
    display: block;
    width:15px;
    height:6px;
    background:#cbe2b0;
    border-radius: 0px 6px 0px 6px;
    position: absolute;
    top:calc(50% - 3px);
    left:-30px;
}
#recommend .content .content-left .btn{
    width:100%;
    height:40px;
}

#recommend .content .content-left .btn .next {
    height:40px;
    width:150px;
    color:#333;
    text-align: left;
    line-height:40px;
    font-size: 14px;
    margin-left:75px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
#recommend .content .content-left .btn .next i{
    font-size: 60px;
    top:10px;
    right:40px;
    position: absolute;
    font-weight: 400;
}
#recommend .content .content-right {
    width:50%;
    height:595px;
    background:url(../images/recobg.png) no-repeat center center;
    position: relative;
    opacity: .8;
}
#recommend .content .content-right .product-box{
    width:630px;
    height:350px;
    position: absolute;
    top:100px;
    left:-100px;
    overflow: hidden;
}
#recommend .content .content-right .product-box ul{
    height:300px;
    width:100%;
    display: flex;
    position: absolute;
}
#recommend .content .content-right .product-box ul li{
    width:200px;
    height:300px;
    border-radius:5px;
    box-shadow: 0px 10px 5px 0px #00000050;
    margin:0px 5px;
    background:#fff;
    flex-shrink: 0;
    padding:20px 10px 0px;
    box-sizing: border-box;
    cursor:pointer;
}
#recommend .content .content-right .product-box ul li img{
    width:180px;
    height:180px;
    margin-bottom:40px;
}
#recommend .content .content-right .product-box ul li p{
    font-size:14px;
    color:#333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 20px;
}
#recommend .content .content-right .product-box ul li p span{
    font-size:16px;
    color:#000;
    font-weight: bold;
}

/* 新品上市 */
#newProduct{
    background:#fff;
    overflow: hidden;
}
#newProduct .content-box{
    padding: 0px 10px;
    padding-bottom:50px;
}
#newProduct .content-box .p-list{
    width:50%;
    box-sizing: border-box;
    height:590px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
#newProduct .content-box .p-list li{
    width:270px;
    height:270px;
    position: relative;
    flex-shrink: 0;
    background:#fff;
    box-shadow:   0px 15px 30px 0px #00000010;
    cursor: pointer;
    transition: 0.5;
    border-radius: 4px;
    overflow: hidden;
}
#newProduct .content-box .p-list li:hover{
    transform: scale(1.05);
    box-shadow:   0px 15px 30px 0px #00000030;
}
#newProduct .content-box .p-list li img{
    width:100%;
    height:100%;
}
#newProduct .content-box .p-list li .textbg{
    position: absolute;
    bottom:0px;
    width:100%;
    height:74px;
    background:#00000095;
    padding-top:10px;
    box-sizing: border-box;
}
#newProduct .content-box .p-list li .textbg p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding:0px 5px;
}
#newProduct .content-box .p-list li .textbg p span{
    color:#ff5000;
}
#newProduct .content-box .p-intro{
    width:50%;
    box-sizing: border-box;
    padding-left:190px;
}
#newProduct .content-box .p-intro .p-text{
    
}
#newProduct .content-box .p-intro .p-text p{
    font-size: 14px;
    color:#333;
    padding-right:100px;
}
#newProduct .content-box .p-intro .p-text p:nth-of-type(2){
    font-weight: 600;
    margin-top:10px;
}
#newProduct .content-box .p-intro .p-text p:nth-of-type(3){
    margin-top:10px;
    letter-spacing: 3px;
}
#newProduct .content-box .p-intro .p-text p:nth-of-type(1){
    font-size: 14px;
    color:#333;
    margin-top:30px;
}
#newProduct .content-box .p-intro .p-text .more{
margin-top:70px;
}
#newProduct .content-box .p-intro .p-text .p-img{
    height:270px;
    background-color:#e5e5e5;
    margin-top:30px;
    background:url(../images/newpview.png) no-repeat center;
}

/* 热销产品 */

#sellWell {

}
#sellWell .content{
    display: flex;
    justify-content:center;
    padding-bottom:50px;
}
#sellWell .content .p-switch{
    width:250px;
    height:340px; 
    padding:40px 5px;
    box-sizing: border-box;
}
#sellWell .content .p-switch h2{
    font-size: 30px;
    font-weight:800;
    color:#000;
    line-height: 40px;
}
#sellWell .content .p-switch p{
    font-size:16px;
    font-weight:800;
    color:#000;
    line-height:20px;
}
#sellWell .content .p-switch  .btn{
    margin-top:70px;
}
#sellWell .content .p-switch .btn a{
    display:inline-block;
    height:30px;
    width:30px;
    border-radius: 50%;
    position: relative;
}
#sellWell .content .p-switch .btn a:first-child{
    background:url(../images/previous.png);
}
#sellWell .content .p-switch .btn a:last-child{
    background:url(../images/next.png);
    margin-left:15px;
}
#sellWell .content .p-switch .btn .active:after{
    content:'';
    display:block;
    width:30px;
    height:30px;
    background:#00000050;
    position: absolute;
    top:0px;
    left:0px;
    border-radius:50%;
    border:1px #ccc solid;
    box-sizing: border-box;
}
#sellWell .content .p-window{
    width:760px;
    margin-left:5px;
    overflow: hidden;
    position: relative;
}
#sellWell .content .p-window .p-list{
    height:340px;
    display: flex;
    position: absolute;
    top:0;
    left:0;
}
#sellWell .content .p-window .p-list li{
    width:250px;
    height:100%;
    padding:10px;
    box-sizing: border-box;
    background-color:#fff;
    margin-right: 5px;
    border-radius: 4px;
    flex-shrink: 0;
}
#sellWell .content .p-window .p-list li img{
    width:230px;
    height:230px;
    background-color:#e5e5e5;
}
#sellWell .content .p-window .p-list li .praise{
    height:5px;
    width:100%;
    background:#96b1ac;
}
#sellWell .content .p-window .p-list li p{
    font-size:14px;
    line-height:30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#sellWell .content .p-window .p-list li p span{
    font-weight: 600;
    color:#ff9000 ;
}
#sellWell .content .p-window .p-list li .shopCar{
    height:30px;
    width:60px;
    border: 1px solid #ff9000;
    box-sizing: border-box;
    text-align: center;
    line-height:30px;
    border-radius: 15px;
    float:right;
}
#sellWell .content .p-window .p-list li .shopCar .iconfont{
    color:#ff6000;
    font-size:16px;
}
#sellWell .content .p-window .p-list li .shopCar:hover{
    background:#ff6000;
    
}
#sellWell .content .p-window .p-list li .shopCar:hover .iconfont{
    color:#fff;
}


/* 底部菜单栏 */



